{% comment %} {% extends "index.html" %}

{% block content %}
    <h2>Product</h2>
    <ul>
        {% for product in object_list %}
            <li>{{ product.name }}</li>
        {% endfor %}
    </ul>
{% endblock %} {% endcomment %}
